[submodule "contracts/lib/solady"]
	path = contracts/lib/solady
	url = https://github.com/Vectorized/solady
[submodule "contracts/lib/forge-std"]
	path = contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "contracts/lib/berachain"]
	path = contracts/lib/berachain
	url = git@github.com:berachain/contracts.git
