[submodule "contracts/lib/solady"]
	path = contracts/lib/solady
	url = https://github.com/Vectorized/solady
[submodule "contracts/lib/forge-std"]
	path = contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "examples/berad/contracts/lib/forge-std"]
	path = examples/berad/contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "examples/berad/contracts/lib/solady"]
	path = examples/berad/contracts/lib/solady
	url = https://github.com/Vectorized/solady
