go 1.22.5

use (
	./beacond
	./build/tools
	./mod/async
	./mod/beacon
	./mod/chain-spec
	./mod/cli
	./mod/config
	./mod/consensus
	./mod/consensus-types
	./mod/da
	./mod/engine-primitives
	./mod/errors
	./mod/execution
	./mod/geth-primitives
	./mod/log
	./mod/node-api
	./mod/node-core
	./mod/p2p
	./mod/payload
	./mod/primitives
	./mod/runtime
	./mod/state-transition
	./mod/storage
	./testing
)
