go 1.22.3

use (
	./beacond
	./build/tools
	./mod/beacon
	./mod/consensus-types
	./mod/da
	./mod/errors
	./mod/execution
	./mod/log
	./mod/node-builder
	./mod/p2p
	./mod/payload
	./mod/primitives
	./mod/primitives-engine
	./mod/runtime
	./mod/state-transition
	./mod/storage
	./testing
)
