# SPDX-License-Identifier: MIT
#
# Copyright (c) 2024 Berachain Foundation
#
# Permission is hereby granted, free of charge, to any person
# obtaining a copy of this software and associated documentation
# files (the "Software"), to deal in the Software without
# restriction, including without limitation the rights to use,
# copy, modify, merge, publish, distribute, sublicense, and/or sell
# copies of the Software, and to permit persons to whom the
# Software is furnished to do so, subject to the following
# conditions:
#
# The above copyright notice and this permission notice shall be
# included in all copies or substantial portions of the Software.
#
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
# EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES
# OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
# NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT
# HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY,
# WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
# FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR
# OTHER DEALINGS IN THE SOFTWARE.

name: release

on:
  push:
    tags:
      - 'v*'
    branches:
      - 'release/*'

jobs:
  build-linux:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        arch: [amd64, arm64]
        targetos: [linux]

    name: beacond-${{ matrix.targetos }}-${{ matrix.arch }}
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v3
        with:
          go-version: "^1.22"
        env:
          GOOS: ${{ matrix.targetos }}
          GOARCH: ${{ matrix.arch }}

      # Build and capture an artifact
      - name: Build beacond
        run: |
          make build

      # Uploads binaries
      - uses: actions/upload-artifact@v3
        with:
          name: beacond-${{ matrix.targetos }}-${{ matrix.arch }}
          path: build/bin/beacond-${{ matrix.targetos }}-${{ matrix.arch }}

  build-mac:
    runs-on: macos-latest
    strategy:
      matrix:
        arch: [arm64]
        targetos: [darwin]

    name: beacond-${{ matrix.targetos }}-${{ matrix.arch }}
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v3
        with:
          go-version: "^1.22"
        env:
          GOOS: ${{ matrix.targetos }}
          GOARCH: ${{ matrix.arch }}
          CGO_CFLAGS: "-O -D__BLST_PORTABLE__"
          CGO_CFLAGS_ALLOW: "-O -D__BLST_PORTABLE__"

      # Build and capture an artifact
      - name: Build beacond
        run: |
          make build-darwin-arm64

      # Uploads binaries
      - uses: actions/upload-artifact@v3
        with:
          name: beacond-${{ matrix.targetos }}-${{ matrix.arch }}
          path: build/bin/beacond-${{ matrix.targetos }}-${{ matrix.arch }}

  draft-release:
    runs-on: ubuntu-latest
    needs: [build-linux, build-mac]
    permissions: write-all
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Download Artifacts
        uses: actions/download-artifact@v3
        with:
          path: build/

      - name: List files in build
        run: ls -R build/

      - name: Draft Release
        uses: softprops/action-gh-release@v1
        with:
          draft: true
          files: |
            build/bin/beacond-linux-arm64
            build/bin/beacond-linux-amd64
            build/bin/beacond-darwin-arm64
        env:
          GIT_TOKEN: ${{ secrets.DEV_PAT }}
